<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Title</title>
</head>
<body>
<a href="/add">Make a Post</a><br />
<table border="1">
    <tr>
        <th>Title</th>
        <th>User</th>
        <th>Date</th>
    </tr>
    <tr th:each="post : ${post}">
        <td>        <a th:href="${post.url}" target="_blank"> <span th:text="${post.title}" ></span> </a>
        </td>
        <td th:text="${post.user}"></td>
        <td>
            <a th:href="@{/update/{id}(id=${post.id})}">Update</a>
            <a th:href="@{/delete/{id}(id=${post.id})}">Delete</a>
        </td>
    </tr>
</table>
</body>
</html>